<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mwolf1963.github.machinistcalculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.mwolf1963.github.machinistcalculator.SingleFragmentActivity"></activity>
        <activity android:name="com.mwolf1963.github.machinistcalculator.Speeds_and_FeedsActivity" />
        <activity android:name="com.mwolf1963.github.machinistcalculator.HelpActivity" />
        <activity android:name="com.mwolf1963.github.machinistcalculator.Trig_CalcActivity" />
        <activity
            android:name="com.mwolf1963.github.machinistcalculator.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name="com.mwolf1963.github.machinistcalculator.G_and_M_codeActivity" />
        <activity android:name="com.mwolf1963.github.machinistcalculator.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>